* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 10);
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Header Section */

header .navbar {
    width: 100vw;
    min-height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    background: linear-gradient(90deg, #28223a, #191036);
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 400px) {

    header .navbar {
        width: 90%;
        max-width: 800px;
        min-height: 50px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        padding: 20px;
        background: linear-gradient(90deg, #28223a, #191036);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);

        position: fixed;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;

        border-radius: 5px;
    }
}

h2 {
    width: auto;
}

.navbar form {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 25%;
}

header .navbar form .searchbar {
    border: none;
    text-align: center;
    padding: 5px;
    height: 20px;
    width: fit-content;
    border-radius: 3px;
}

@media screen and (max-width: 600px) {
    header .navbar {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    h2 {
        text-align: center;
    }

    header .navbar form {
        width: 100%;
        justify-content: center;
        gap: 10px;
    }
}

.search-btn {
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 7px;
    font-weight: 500;
    background-color: red;
    color: wheat;
    margin-right: 10px;
}

.search-btn:hover {
    color: wheat;
    cursor: pointer;
    transform: scaleY(2px);
}

/* Main Section */

.recipeContainer {
    text-align: center;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 40px;
    width: 80%;
    margin: 90px auto;
    background-color: rgb(0, 0, 10);
    padding: 20px;
    place-items: center;
}

.recipe {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    color: #111;
    border-radius: 7px;
    box-shadow: 0 5px 10px #322c2c;
    cursor: pointer;
    max-width: 350px;
}

.recipe img {
    height: 300px;
    background-size: cover;
    object-fit: cover;
}

.recipe h3 {
    color: #111;
    font-weight: bold;
}

.recipe p {
    color: #111;
    font-weight: lighter;
}

.recipeContainer .recipe-btn {
    width: 100%;
    height: 30px;
    border: none;
    padding: 5px;
    margin-top: 2px;
    font-weight: 500;
    border-radius: 2px;
    background-color: red;
    color: wheat;
    cursor: pointer;
}

.recipeContainer .recipe-btn:hover {
    background-color: rgb(0, 0, 0);
    color: #f3f3f3;
}